.home {
    margin-top: 23px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: calc(100vh - 106px);
    align-content: start;

    width: calc(100vw - 260px - 260px);
}

.home > div {
    opacity: 0; /* initial state: hidden */
    transform: translateY(100%);
    animation: slideUp 0.5s forwards; /* apply the animation */
}

@media (max-width: 1240px) {
    .home {
        width: 100%;
        grid-template-columns: 1fr;
    }
}

/* @media (max-width: 1024px) {
    .home {
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
} */

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.home > div:nth-child(2) {
    animation-delay: 0.1s;
}
.home > div:nth-child(3) {
    animation-delay: 0.2s;
}
.home > div:nth-child(4) {
    animation-delay: 0.3s;
}
.home > div:nth-child(5) {
    animation-delay: 0.4s;
}
.home > div:nth-child(6) {
    animation-delay: 0.5s;
}
.home > div:nth-child(7) {
    animation-delay: 0.6s;
}
.home > div:nth-child(8) {
    animation-delay: 0.7s;
}
.home > div:nth-child(9) {
    animation-delay: 0.8s;
}
.home > div:nth-child(10) {
    animation-delay: 0.9s;
}
