.homemodule {
    height: 100px;

    border: solid 1px #3a3a3a;

    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    flex-grow: 1;
    flex-shrink: 1;
}

.homemodule a {
    text-decoration: none;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 24px;
    padding-right: 24px;
    overflow: visible;
    width: 100%;
    background: none;
}

.homemodule div {
    aspect-ratio: 1/1;
    height: 98px;
    content: "";
    user-select: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #3a3a3a;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.toggled {
    color: #2a2a2a;
    background-color: #898989;
}
